
<!DOCTYPE html>
<html>
<head lang="ja">
    <meta charset="UTF-8">
    <title>Rails Camp Blog</title>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
</head>
<body>
    <div id = "text-alert">
        <h2><%= flash[:alert] %><h2>
    </div>
<header>

    <p id="logo"><a href="">RailsCamp<span>Blog</span></a></p>
    <nav>
        <ul>
            <li><a href="/">トップ</a></li>
            <% if user_signed_in? %>
                <li><a class="post" href="/posts/new">新規投稿</a></li>
                <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <% else %>
                <li><%= link_to "新規登録", new_user_registration_path, class: 'post' %></li>
                <li><%= link_to "ログイン", new_user_session_path, class: 'post' %></li>
            <% end %>
            <div class="clear"></div>
        </ul>
    </nav>
</header>


<div id="main">
    <img src="/assets/main-img.jpg">
</div>


<div id="article_wrap">
    <div id="article_list">
        <% @posts.each do |posts| %>
        <div>
            <%= link_to posts.title, post_path(posts) %>
            <br>
            <%= posts.created_at.strftime('%Y/%m/%d') %>
            <br>
            <% if user_signed_in? %>
                <%= link_to "編集", edit_post_path(posts) %>
                <%= button_to "削除", post_path(posts), method: :delete %>
            <% end %>
        </div>
        <% end %>
    </div>

    <div id="sidebar">
        <h2>★PV数ランキング</h2>
        <ul>
            <% @rank.zip(@idsr) do |rank, idsr| %>
                <li>
                    <%= link_to rank.title, post_path(rank) %>
                    (<%= idsr %>PV)
                </li>
            <% end %>
        </ul>
    </div>
    <div class="clear"></div>
</div>

<footer>
    <div id="footer_inner">
        <p>Copyright RailsCamp 2015 All Rights Reserved</p>
    </div>
</footer>

</body>
</html> 