<!DOCTYPE html>
<html>
  <head>
    <title>BrogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
    <p id="logo"><a href="">RailsCamp<span>Blog</span></a></p>
    <nav>
        <ul>
            <% if user_signed_in? %>
                <a href="/">トップ</a>
                <a class="post" href="/posts/new">新規投稿</a>
                <%= link_to "ログアウト", destroy_user_session_path, method: :get %>
            <% else %>
                <a href="/">トップ</a>
                <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
                <%= link_to "ログイン", new_user_session_path, class: 'post' %>
            <% end %>
            <div class="clear"></div>
        </ul>
    </nav>
    </header>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
